body{
    background-color: #E1BD40;
}

.heading{
    position: absolute;
    width: 680px;
    height: 143px;
    margin-top: 6%;
    margin-left: 21%;
    font-family: Londrina Outline;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #004549;
}

.yo{
    position: absolute;
    margin-top: 16%;
    width: 647px;
    height: 29px;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.familyimg img{
    position: absolute;
    width: 616px;
    height: 342px;
    margin-top: 19%;
}

.rectangle1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 63px;
    width: 309px;
    background: rgba(202, 52, 13, 0.63);
    mix-blend-mode: multiply;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 45.5%;
    margin-left: 0.5%;
}

.rectangle1 p{
    position: absolute;
    left: 14.17%;
    right: 13.33%;
    top: 24.07%;
    bottom: 24.07%;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 5.5%;
    margin-left: 5%;
}

.papa img{
    position: absolute;
    width: 616px;
    height: 441.99px;
    margin-top: 52%;
}

.rectangle2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 63px;
    width: 309px;
    background: rgba(202, 52, 13, 0.63);
    mix-blend-mode: multiply;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 86%;
    margin-left: 0.5%;
}

.rectangle2 p{
    position: absolute;
    left: 14.17%;
    right: 13.33%;
    top: 24.07%;
    bottom: 24.07%;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 5.5%;
    margin-left: 3%;
}

.connect{
    position: absolute;
    width: 178px;
    height: 110px;
    font-family: Gemunu Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 44%;
}

.img1 img{
    position: absolute;
    width: 35px;
    height: 38px;
    margin-left: 43%;
    margin-top: 5%;
}

.img2 img{
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: 45.2%;
    margin-top: 5%;
}

.img3 img{
    position: absolute;
    width: 35px;
    height: 37px;
    margin-left: 47.3%;
    margin-top: 5%;
}